# Ignore all dotfiles...
# recursive
/.*
# except for .gitignore
!.gitignore

# ignore intellij files
*.iml
*.ipr
*.iws

# ignore eclipse settings
.settings
.classpath
.project

# ignore search index
data

# Ignore Play! working directory #
db
eclipse
lib
log
logs
modules
precompiled
nbproject
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.eml
