# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
bin
data
dist
logs
lib
tmp
eclipse
log
logs
modules
precompiled
nbproject
project/project
project/target
target
test-result
server.pid
*.iml
*.eml
