<!-- submit.html -->

#{extends 'main.html' /}
#{set title:'Submit new Article' /}
<div class="span12">
	<div class="hero-unit">
		<h1>
			Submit your Article
		</h1>
	</div>
	<div class="row-fluid">
		<div class="span12">
			#{form @ArticleController.uploadPicture(), enctype:'multipart/form-data'}
				Title: <input type="text" name="title" id="title"/>
				<textarea name="entry" id="entry"></textarea>
				
				<input type="button" value="Upload header picture" onclick="filepicker.pick(function(FPFile){ console.log(FPFile.url); });">
				<label for="picture">Picture</label>
				<input type="file" name="picture" id="picture"/>
				<br/>
				<button class="btn" type="submit" name="submit">Submit &raquo;</button>
			#{/form}
		</div>
	</div>
</div>