#{extends 'main.html' /}
#{set title:'Neuer Artikel' /}

        
  
    
#{form @ArticleController.uploadPicture(), enctype:'multipart/form-data'}
 
 

<span>
<label for="picture">picture:</label>
<input type="file" name="picture" id="picture" value=""/>
<label for="author">author:</label>
<input type="text" name="author" id="author" value=""/>
<label for="summary">summary:</label>
<input type="text" name="summary" id="summary" value=""/>
<label for="author">entry:</label>
<input type="text" name="entry" id="entry" value=""/>
</span>

<input type="submit" name="submit" value="Save" />
#{/form}