<!-- articles.html -->

#{extends 'main.html' /}
#{set title:'All articles' /}

<div class="span9">
	<div class="well">
		<h1>
			Guerilla Journal
		</h1>
		<p>
			Your go-to place for independent, peer-reviewed news that change the world.
		</p>
	</div>
	<div class="row-fluid">
		#{list items:models.Article.findAll(), as:'article'}
			<div class="span4">
				<img class="headerPicUrl" src="${article.headerPicUrl}"/>
				<h2>${article.title}</h2>
				<small>
					Written on <strong>${article.postedAt.format('dd.MM.yyyy HH:mm')}</strong> by <strong>${article.author}</strong> 
				</small>
				<p class="lead">
					${article.summary}
				</p>
				
<!--				<p class="entry">
					${article.entry.raw()} *{raw is needed to render html}*
				</p>-->
				
				<br/>
				
				<div class="details">
					<a class="btn" href="detail/${article.id}">Read full Article</a>
				</div>
			</div>
		#{/list}
	</div>
	<!--/row-->
</div>
<!--/span-->

#{include 'sidebar.html'/}