<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <title>#{get 'title' /}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      
    </style>
    <link href="@{'/public/assets/css/bootstrap.css'}" rel="stylesheet">
    <link href="@{'/public/assets/css/bootstrap-responsive.css'}" rel="stylesheet">
        
    
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
    	<div class="navbar-inner">
    		<div class="container-fluid">
    			<a class="brand" href="/">Guerilla Journal</a>
    			<div class="nav">
                    
    				<ul class="nav">
    					<li>
    						<a href="/">View Articles</a>
    					</li>
    					<li>
    						<a href="/article">Submit</a>
    					</li>
    				#{if session["loggedin"]=="true"}
    					<li>
    						<a href="/profile">My Profile</a>
    					</li>
    				#{/if}
    				</ul>
                    
    			</div>

                #{if session["loggedin"]=="false"}
                    <a href="@{Users.authenticate()}" class="btn pull-right">Sign in</a>
                #{/if}
                
                #{else}
                    #{list items:controllers.Users.getUser(), as:'user'}
	                    <a href="/profile" class="pull-right">
							<img src="${user.iconUrl}" /> ${user.screenName}
	                   	</a>    
                    #{/list}
                #{/else}
                
    		</div>
    	</div>
    </div>
    <div class="container-fluid">
    	<div class="row-fluid">
            <!-- layout begin -->
                #{doLayout /}
            <!-- layout end -->
        </div>
        <hr>
        <footer>
                @ Guerilla Journal 2013
        </footer>
    </div>
    <!--/.fluid-container-->

    <script src="@{'/public/assets/js/bootstrap.js'}"></script>
    <script src="@{'/public/assets/js/jquery.raty-2.5.2.min.js'}"></script>
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <script type="text/javascript">
	    	
    	// All javascript should be wrapped in jQuery's document.ready callback
	    $(function() {
	    	
	    	// Initiate raty with new img path
	    	$('#star').raty({ path: '/public/assets/img' });
	    	// api key for filepicker
	    	filepicker.setKey('AK3uFvZ9SxKyRxBB0ajWgz');
	    	
	    	// init tinymce for all textarea elements
	        tinymce.init({selector:'textarea'});
	    	
	    	// filepicker initialization and callback
	    	$('#headerPicSelector').click(function(e) {
	    		e.preventDefault();
	    		filepicker.pick(function(img) {
	    			if (img) {
		    			$('#headerPicUrl').val(img.url);
		    			$('<img src="'+img.url+'"/><br/>').prependTo('#textarea');
		    			$('#headerPicSelector').text('Select a different picture');
	    			}
	    		})
	    	});
	    });
    
    </script>
  </body>
</html>
